body  
{
	direction: rtl;
	text-align: right;
}
body p {
    line-height: 26px;
}
div.navbar-collapse,
.navbar-nav>li
{
	float: right;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 
{
    float: right;
}
.col-sm-push-1 {
    right: 8.33333333%;
}
.col-sm-push-2 {
    right: 16.66666667%;
}
.col-sm-push-3 {
    right: 25%;
}
.pull-left {
    float: right!important;
}
.pull-right {
    float: left !important;
}
div.text-right.top-buffer
{
	text-align: left;
}
#menu-navigation, 
#menu-navigation ul 
{
	padding-right: 0;
}
ul.dropdown-menu
{
	right: 0;
    min-width: 200px;
}
.title-container-left {
    text-align: right;
    background-position: top right;
}
ul.dropdown-menu>li>a {
    white-space: normal;
}

.search-placeholder
{
    margin-left: -15px;
}
.social-icon {
    margin-left: 0;
    margin-right: 12px;
}
ul.share-buttons li{
    margin-right: 0;
    margin-left: 6px;
}
#copyright-text {
    text-align: left;
}
.heading6, .heading6 a,
.heading10, .heading10 a {
    font-family: inherit;
    font-size: 17px;
}
.heading11, .heading11 a {
    line-height: 26px;
}
#bottom-bar a {
    line-height: 17px;
}
.caret {
    margin-top: 9px;
}
.btn .caret {
    margin-top: 5px;
}
.pull-right > .dropdown-menu {
    right: auto;
    left: 0;
}
/*********************************
 *          FONT                 *
 *********************************/
@font-face {
    font-family: avenirNextRegular;
    src: url('/fonts/DroidArabicKufi.eot');
    src: url('/fonts/DroidArabicKufi?#iefix') format('embedded-opentype'),
       url('/fonts/DroidArabicKufi.woff2') format('woff2'),
       url('/fonts/DroidArabicKufi.woff') format('woff'),
       url('/fonts/DroidArabicKufi.ttf') format('truetype'),
       url('/fonts/DroidArabicKufi#DroidArabicKufi') format('svg');
}
@font-face {
    font-family: avenirNextBold;
    src: url('/fonts/DroidArabicKufi-Bold.eot');
    src: url('/fonts/DroidArabicKufi-Bold?#iefix') format('embedded-opentype'),
       url('/fonts/DroidArabicKufi-Bold.woff2') format('woff2'),
       url('/fonts/DroidArabicKufi-Bold.woff') format('woff'),
       url('/fonts/DroidArabicKufi-Bold.ttf') format('truetype'),
       url('/fonts/DroidArabicKufi-Bold#DroidArabicKufi-Bold') format('svg');
}

.heading1, .heading1 a,
.heading2, .heading2 a,
.heading3, .heading3 a,
.heading4, .heading4 a
{
    letter-spacing: 0;
}
.heading9, .heading9 a {
    line-height: 27px;
}
.breadcrumb-nav a:after 
{
    content: " <";
}

.caption-content {
    bottom: 29%;
}

.caption-overlay h1 {
    margin-bottom: 21px;
}
.social-top
{
    text-align: left;
}


.btn-newsletter {
    width: 71%;
    padding: 5px;
}
.submit-newsletter {
    margin-right: -5px;
    margin-left: 0;
        padding-top: 9px;
        width: auto;
}
.decreaseFont {
    font-size: 10px;
    margin-left: 15px;
}
.caption-overlay h1 {
    line-height: 1.4;
}

.nav-float
{
    float:right;
}

@media screen and (min-width: 320px) and (max-width: 767px) {

}
