body  
{
	direction: rtl;
	text-align: right;
}
div.navbar-collapse,
.navbar-nav>li
{
	float: right;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 
{
    float: right;
}
.col-sm-push-1 {
    right: 8.33333333%;
}
.col-sm-push-2 {
    right: 16.66666667%;
}
.pull-left {
    float: right!important;
}
.pull-right {
    float: left !important;
}
div.text-right.top-buffer
{
	text-align: left;
}
#menu-navigation, 
#menu-navigation ul 
{
	padding-right: 0;
}
ul.dropdown-menu
{
	right: 0;
    min-width: 200px;
}
.title-container-left {
    text-align: right;
    background-position: top right;
}
ul.dropdown-menu>li>a {
    white-space: normal;
}

.search-placeholder
{
    margin-left: -15px;
}
/*********************************
 *          FONT                 *
 *********************************/
@font-face {
    font-family: avenirNextRegular;
    src: url('/fonts/DroidArabicKufi.ttf');
}
@font-face {
    font-family: avenirNextBold;
    src: url('/fonts/DroidArabicKufi-Bold.ttf');
}

.heading1, .heading1 a,
.heading2, .heading2 a,
.heading3, .heading3 a,
.heading4, .heading4 a
{
    letter-spacing: 0;
}

.breadcrumb-nav a:after 
{
    content: " <";
}

.caption-content {
    bottom: 29%;
}

.caption-overlay h1 {
    margin-bottom: 21px;
}
.social-top
{
    text-align: left;
}


.btn-newsletter {
    padding: 4px;
    width: 71%;
}
.submit-newsletter {
    margin-right: -5px;
    margin-left: 0;
        padding-top: 9px;
}