
/*********************************
 * 			FONT 				 *
 *********************************/
@font-face {
    font-family: avenirNextRegular;
    src: url('/fonts/AvenirNext-Regular.ttf');
}
@font-face {
    font-family: avenirNextMedium;
    src: url('/fonts/AvenirNext-Medium.ttf');
}
@font-face {
    font-family: avenirNextBold;
    src: url('/fonts/AvenirNext-Bold.ttf');
}
@font-face {
    font-family: avenirNextDemiBold;
    src: url('/fonts/AvenirNext-DemiBold.ttf');
}


/*********************************
 * 			COMMON 				 *
 *********************************/
body 
{
	font-size: 12px;
	font-family: 'avenirNextRegular';
	color:#000;
}
body img 
{ 
	width: 100%;
}
h1,h2,h3,h4,h5,h6
{
	padding: 0;
	margin: 0;
}
a:hover, a:active, a:visited
{
	text-decoration: none;
}

.videoImageFrame{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-bottom: 62.5%;
}

.playButtonContainer{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*********************************
 * 			HEADINGS 			 *
 *********************************/
.heading1, .heading1 a 
{
	font-family: 'avenirNextBold';
	font-size: 24px;
	text-transform: uppercase;
	color:#3C5287;
	padding-top: 20px;
	letter-spacing: 4px;
}
.heading2, .heading2 a
{
	font-family: 'avenirNextRegular';
	font-size: 16px;
	color:#484848;
}
.heading3, .heading3 a
{
	font-family: 'avenirNextBold';
	font-size: 28px;
	color:#3b5287;
	margin-top: 20px;
}
.heading4, .heading4 a
{
	font-family: 'avenirNextRegular';
	font-size: 16px;
	color:#000000;
	margin-top: 8px;
}
.heading5, .heading5 a
{
	font-family: 'avenirNextRegular';
	font-size: 16px;
	color:#3C5287;
}
.heading6, .heading6 a
{
	font-family: 'avenirNextMedium';
	font-size: 24px;
	color:#000000;
	margin-top: 8px;
}
.heading7, .heading7 a
{
	font-family: 'avenirNextRegular';
	font-size: 16px;
	color:#030303;
	margin-top: 10px;
}
.heading9, .heading9 a 
{
	font-family: 'avenirNextBold';
	font-size: 23px;
	color:#3b5287;
	margin-bottom: 24px;
}
.heading10, .heading10 a 
{
	font-family: 'avenirNextMedium';
	font-size: 20px;
	color:#23C4FD;
	margin-bottom: 10px;
}
.heading11, .heading11 a
{
	font-family: 'avenirNextBold';
	font-size: 18px;
    color: #1D1717;
    margin-top: 20px;
	text-transform: uppercase;
}
.title-container
{
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	background-image: url('/images/Blue-Line.png');
	background-position: top center;
	background-repeat: no-repeat;
}
.title-container-left
{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
	background-image: url('/images/Blue-Line.png');
	background-position: top left;
	background-repeat: no-repeat;
}

/*********************************
 * 			HEADER 				 *
 *********************************/
#top-bar 
{
	height: 35px;
	color:#FFF;
	background-color: #393939;
}
#logos 
{
	height: 165px;
}

#logos .header-logo
{
	padding-top: 20px;
	height: 100%;
	width: 100%;
	position: relative;
}


#logos .header-logo.header-logo-left
{
	width: 152px;
	height: 63px;
}
#logos .header-logo-middle
{
	width: 129px !important;
	height: 102px  !important;
	bottom: 20px;
	left: 50%;
	margin-left: -64px;
	position: absolute;
}
#logos .header-logo.header-logo-right
{
	width: 168px;
	height: 63px;
	text-align: right;
}


/*********************************
 * 			MENU 				 *
 *********************************/

.top-buffer
{
    margin-top: 7px;
    font-size: 13px;
}

nav.navbar-top
{
    height: 35px;
    min-height: 35px;
    margin-bottom: 0;
    color:#FFF;
    background-color: #393939;
    border-radius: 0;
}

.navbar-top .dropdown-toggle
{
    color:#FFF;
    padding:0;
}

.navbar-top .btn
{
    font-weight: normal;
    font-size: 12px;
}

nav.navbar-main
{
	background-color: #3b5287;
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	min-height: 55px !important;
	height: 55px !important;
}
.navbar-main a 
{
	color: #fff;
	font-weight: normal;
}
.navbar-main #menu-navigation
{
	padding-left: 0;
	min-height: 55px !important;
	height: 55px !important;
}


#menu-navigation ul.navbar-nav li a
{
	min-height: 55px !important;
	height: 55px !important;
	font-size: 15px;
}
#menu-navigation ul.navbar-nav li ul li a 
{
	min-height: 20px;
}
.navbar-main a:hover
{
	color: #3b5287;
}

.navbar-main li.active a, .navbar-main li a:hover, .navbar-main li.open a.dropdown-toggle 
{
	background-color: #23C4FD;
	color: #FFF;
}

.navbar .icon-bar
{
    background-color: #cccccc;
}

.dropdown-menu li
{
    background-color: #FFFFFF;
}

/*********************************
 * 		  HOMEPAGE SLIDER        *
 *********************************/
 #carousel-example-generic div.carousel-caption
 {
 	text-align: left;
 	left: 5%;
 }
 #carousel-example-generic
 {
 	max-height: 415px;
 	height: auto;
 	overflow: hidden;
 }


/*********************************
 * 		  HOMEPAGE BLOCKS        *
 *********************************/
.homepage-block
{
	padding-bottom: 20px;
}

.homepage-block-goals
{
	background-color: #F7F8F8;
}
.homepage-block-goals .goal 
{
	text-align: center;
}
.homepage-block-goals .goal img 
{
	width: 60px;
}
.goal-act-now
{
	text-align: center;
}
.goal-act-now img
{
	width:370px;
	margin-bottom: 20px;
}
.actnow-block
{
	background-color: #FFF;
	border-bottom: 1px solid #23C4FD;
	margin-top: 35px;
	padding-bottom: 35px;
}
.actnow-block .line 
{
	font-size: 20px;
	color: #3C5287;
}

/*********************************
 * 		    FAQ LISTING          *
 *********************************/
.panel.faq
{
	box-shadow: none;
}
.accordion-body
{
	margin-bottom: 20px;
}


/********************************
 * 		    NEWS LISTING        *
 ********************************/
.news-list-row
{
	margin-bottom: 20px;
}


/*********************************
 * 			PAGES        		 *
 *********************************/
.default_content img
{
    width:25%;
    height:auto;
}

.post_body_text
{
    font-size:16px;
}

.moreinfo{

    font-family:'avenirNextBold';
    font-size:20px;
    color:#3b5287;

}

.contact{

    font-family:'avenirNextBold';
    font-size:18px;
    color:#707070;

}

/*********************************
 * 			FOOTER 				 *
 *********************************/
#bottom-bar
{
    min-height: 290px;
    height:auto;
    color:#595959;
    background-color: #e5e7e7;
}


.navbar-bottom
{
    min-height: 120px;
    height:auto;
    background-color: #3b5287;
    width:100%;
    margin-bottom: 0;
    border: none;
}


#logos-bottom .header-logo
{
    padding-top: 20px;
    /*height: 100%;*/
    position: relative;
}
#logos-bottom .header-logo img
{
    width: 30%;
}
#logos-bottom .header-logo.header-logo-middle img
{
    width: 36%;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -18%;
    display: block;
}

#logos-bottom .header-logo.header-logo-right
{
    text-align: right;
}

#copyright-text
{
    float:right;
    padding-top:40px;
    width:50%;
    position: relative;
    color:#FFF;
}

.white-link a{
    color:#FFF;
}

.white-link a:hover{
    color:#7c7c7c;
}


/*********************************
 * 			NEWS 				 *
 *********************************/
 div.news-filters
 {
 	margin-bottom: 30px;
 	margin-top: 30px;
 }















