
/*********************************
 * 			FONT 				 *
 *********************************/
@font-face {
    font-family: avenirNextRegular;
    src: url('/fonts/AvenirNext-Regular.ttf');
}
@font-face {
    font-family: avenirNextMedium;
    src: url('/fonts/AvenirNext-Medium.ttf');
}
@font-face {
    font-family: avenirNextBold;
    src: url('/fonts/AvenirNext-Bold.ttf');
}
@font-face {
    font-family: avenirNextDemiBold;
    src: url('/fonts/AvenirNext-DemiBold.ttf');
}


/*********************************
 * 			COMMON 				 *
 *********************************/
body 
{
	font-size: 16px;
	font-family: 'avenirNextRegular';
	color:#000;
}
body img 
{ 
	width: 100%;
}
h1,h2,h3,h4,h5,h6
{
	padding: 0;
	margin: 0;
}
a:hover, a:active, a:visited, a:focus
{
	text-decoration: none;
}
a:focus
{
	border-color: yellow;
}

.videoImageFrame{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-bottom: 62.5%;
}

.playButtonContainer{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
img.img-rounded
{
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
img.grid-thumb
{
	max-height: 205px;
	height: 100%;
}
img.related-thumb
{
	max-height: 99px;
	height: 100%;
}
img.home-news-thumb
{
	max-height: 150px;
	height: 100%;
}
img.featured-img
{
	max-height: 373px;
	height: 100%;
}
img.goal-img 
{
	max-height: 315px;
}

/********************************
 *      IMAGES FILTER           *
 ********************************/
 .tint {
 	position: relative;
  }
  
  .tint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,255,255, 0.5);
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
  }
  
  /*.tint:hover:before {
    background: none;
  }*/
  
  .black:before {
    background: rgba(0,0,0, 0.15);
  }
  
/*********************************
 * 			HEADINGS 			 *
 *********************************/
.heading1, .heading1 a 
{
	font-family: 'avenirNextBold';
	font-size: 24px;
	text-transform: uppercase;
	color:#3C5287;
	padding-top: 15px;
	padding-bottom: 5px;
	letter-spacing: 3px;
}
.heading2, .heading2 a
{
	font-family: 'avenirNextRegular';
	font-size: 16px;
	color:#484848;
}
.heading3, .heading3 a
{
	font-family: 'avenirNextBold';
	font-size: 24px;
	color:#3b5287;
	margin-bottom: 10px;
	margin-top: 20px;
}
.heading4, .heading4 a
{
	font-family: 'avenirNextRegular';
	font-size: 15px;
	color:#000000;
	margin-top: 8px;
}
.heading5, .heading5 a
{
	font-family: 'avenirNextRegular';
	font-size: 14px;
	color:#3C5287;
}
.heading6, .heading6 a
{
	font-family: 'avenirNextMedium';
	font-size: 18px;
	color:#000000;
	line-height: 22px;
	margin-top: 8px;
}
.heading7, .heading7 a
{
	font-family: 'avenirNextRegular';
	font-size: 15px;
	color:#030303;
	margin-top: 10px;
}
.heading9, .heading9 a 
{
	font-family: 'avenirNextBold';
	font-size: 18px;
	color:#3b5287;
	margin-bottom: 5px;
}
.heading10, .heading10 a 
{
	font-family: 'avenirNextMedium';
	font-size: 20px;
	color:#23C4FD;
	margin-bottom: 10px;
}
.heading11, .heading11 a
{
	font-family: 'avenirNextBold';
	font-size: 15px;
    color: #1D1717;
    margin-top: 20px;
	text-transform: uppercase;
}
.heading12
{
	font-size: 18px;
	font-weight: 500;
}
.title-container
{
	margin-top: 35px;
	margin-bottom: 35px;
	text-align: center;
	background-image: url('/images/Blue-Line.png');
	background-position: top center;
	background-repeat: no-repeat;
}
.title-container-left
{
	margin-top: 35px;
	margin-bottom: 15px;
	text-align: left;
	background-image: url('/images/Blue-Line.png');
	background-position: top left;
	background-repeat: no-repeat;
}
.title-container-left .heading1, .title-container-left .heading1 a {
	font-size: 18px;
}

/*********************************
 * 			HEADER 				 *
 *********************************/
#top-bar 
{
	height: 35px;
	color:#FFF;
	background-color: #393939;
}
#logos 
{
	height: 165px;
}

#logos .header-logo
{
	padding-top: 20px;
	height: 100%;
	width: 100%;
	position: relative;
}


#logos .header-logo.header-logo-left
{
	width: 152px;
	height: 63px;
}
#logos .header-logo-middle
{
	width: 129px !important;
	height: 102px  !important;
	bottom: 20px;
	left: 50%;
	margin-left: -64px;
	position: absolute;
}
#logos .header-logo.header-logo-right
{
	width: 168px;
	height: 63px;
	text-align: right;
}


/*********************************
 * 			MENU 				 *
 *********************************/

.top-buffer
{
    margin-top: 7px;
    font-size: 13px;
}

.top-buffer a 
{
	color: #FFF;
}

nav.navbar-top
{
    height: 35px;
    min-height: 35px;
    margin-bottom: 0;
    color:#FFF;
    background-color: #393939;
    border-radius: 0;
}

.navbar-top .dropdown-toggle
{
    color:#FFF;
    padding:0;
}

.navbar-top .btn
{
    font-weight: normal;
    font-size: 12px;
}

nav.navbar-main
{
	background-color: #3b5287;
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	min-height: 55px !important;
	height: 55px !important;
}
.navbar-main a 
{
	color: #fff;
	font-weight: normal;
}
.navbar-main #menu-navigation
{
	padding-left: 0;
	min-height: 55px !important;
	height: 55px !important;
}


#menu-navigation ul.navbar-nav li a
{
	min-height: 55px !important;
	height: 55px !important;
	font-size: 15px;
}
#menu-navigation ul.navbar-nav li a:focus
{
	background-color: #23C4FD;
}
#menu-navigation ul.navbar-nav li ul li a 
{
	min-height: 20px;
}
.navbar-main a:hover
{
	color: #3b5287;
}

.navbar-main li.active a, .navbar-main li a:hover, .navbar-main li.open a.dropdown-toggle 
{
	background-color: #23C4FD;
	color: #FFF;
}

.navbar .icon-bar
{
    background-color: #cccccc;
}

.dropdown-menu li
{
    background-color: #FFFFFF;
}
#menu-navigation ul.navbar-nav > li > .dropdown-menu li a 
{
	min-height: auto !important;
	height: auto !important;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
}
/*********************************
 * 		  HOMEPAGE SLIDER        *
 *********************************/
 #carousel-example-generic
 {
 /*	max-height: 415px;
 	height: auto;*/
 	overflow: hidden;
 }
a.carousel-control
{
	z-index: 10;
}
.caption-overlay
 {
 	width: 100%;
 	height: 50%;
 	background-image: url('/images/overlaylayer.png');
 	background-repeat: repeat;
 	position: absolute;
 	bottom: 0;
 	left: 0;
 	z-index: 2;
    background-position: bottom left;
    background-size: contain;
 }
 .caption-content
 {
 	width: 50%;
    position: absolute;
    left: 18%;
    bottom: 27%;
 }
 .caption-overlay h1
 {
 	font-family: 'avenirNextBold';
    font-size: 60px;
    text-transform: uppercase;
    color: #FFF;
    line-height: 0.9;
 }
 .caption-overlay h2
 {
 	font-family: 'avenirNextRegular';
    font-size: 24px;
    text-transform: uppercase;
    color: #FFF;
    letter-spacing: 1px;
 }

/*********************************
 * 		  HOMEPAGE BLOCKS        *
 *********************************/
.homepage-block
{
	padding-bottom: 35px;
}

.homepage-block-goals
{
	background-color: #F7F8F8;
}
.homepage-block-goals .goal 
{
	text-align: center;
}
.homepage-block-goals .goal img 
{
	width: 60px;
}
.goal-act-now
{
	text-align: center;
}
.goal-act-now img
{
	width:300px;
	margin-bottom: 10px;
}
.actnow-block
{
	background-color: #FFF;
	border-bottom: 1px solid #23C4FD;
	margin-top: 35px;
	padding-bottom: 35px;
}
.actnow-block .line 
{
	font-size: 20px;
	color: #3C5287;
}
.news-block
{
	background-color: #F7F8F8;
}

/*********************************
 * 		    FAQ LISTING          *
 *********************************/
.panel.faq
{
	box-shadow: none;
	margin-bottom: 35px;
}
.accordion-body
{
	margin-bottom: 20px;
	font-size: 16px;
}


/********************************
 * 		    NEWS LISTING        *
 ********************************/
.news-list-row
{
	margin-bottom: 35px;
}
.news-list-row .heading6, .news-list-row .heading6 a {
	margin-top: 0;
}

/*********************************
 * 			PAGES        		 *
 *********************************/
.default_content img
{
    width:25%;
    height:auto;
}

.post_body_text
{
    font-size:16px;
}

.moreinfo{

    font-family:'avenirNextBold';
    font-size:20px;
    color:#3b5287;

}

.contact{

    font-family:'avenirNextBold';
    font-size:18px;
    color:#707070;
}
.aboutHint
{
	margin-top: 35px;
}

/*********************************
 * 			FOOTER 				 *
 *********************************/
#bottom-bar
{
    min-height: 290px;
    height:auto;
    color:#595959;
    background-color: #e5e7e7;
}

#bottom-bar a 
{
	color:#595959;
	font-size: 12px;
	text-transform: capitalize;
}


.navbar-bottom
{
    min-height: 85px;
    height:auto;
    background-color: #3b5287;
    width:100%;
    margin-bottom: 0;
    border: none;
}


#logos-bottom .header-logo
{
    /*height: 100%;*/
    position: relative;
}
#logos-bottom .header-logo img
{
    display: none;
}
#logos-bottom .header-logo.header-logo-middle img
{
    width: 36%;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -18%;
    display: block;
}

#logos-bottom .header-logo.header-logo-right
{
    text-align: right;
}

#copyright-text
{
    padding-top:40px;
    position: relative;
    color:#FFF;
    text-align: right;
    font-size: 12px;
}
#copyright-text span 
{
	margin-left: 10px;
}
.white-link a{
    color:#FFF;
}

.white-link a:hover{
    color:#7c7c7c;
}

#logos-bottom
{
	height: 85px;
}

/*********************************
 * 			NEWS 				 *
 *********************************/
 div.news-filters
 {
 	margin-bottom: 30px;
 	margin-top: 30px;
 }

/*********************************
 * 			ENTITIES 			 *
 *********************************/
 div.entity-row
 {
 	text-align: center;
 	overflow: hidden;
 	margin-bottom: 35px;
 }
 div.entity-row img 
 {
 	width: auto;
 }

p.heading4
{
	margin: 0;
	margin-bottom: 35px;
}
.post-item, .related-item
{
	margin-bottom: 35px;
}
.post-item .heading3, .post-item .heading3 a {
	margin-top: 20px;
}
.show-item
{
	font-size: 16px;
	padding-bottom: 35px;
}
.top0
{
	margin-top: 0;
}
.top35
{
	margin-top: 35px;
}
.btn-custom
{
    margin-top: 10px;
    border-radius: 0;
    width: 100%;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #23C4FD;
    border: none;
}
.btn-custom:hover,.btn-custom:active
{
	background-color: #3b5287;
}

.news-filters .btn-custom 
{
	width: auto;
	font-size: 12px;
	color:#FFF;
	margin-top: 0;
}
.post_body_text img,
.post_body_text
{
	margin-bottom: 35px;
}


/*************************
 * 	    Ellipsis 		 *
 *************************/

.homepage-block p.heading7,
.related-item p.heading7{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


/*********************************
 * 	    MOBILE MEDIA QUERY 		 *
 *********************************/
@media screen and (min-width: 320px) and (max-width: 767px)
{
	.navbar-main #menu-navigation {
    	min-height: auto !important; 
     	height: auto !important;
     	overflow: visible;
     	background-color: #3b5287;
     	padding-left: 10px;
     	font-size: 13px;
     	z-index: 9999999999;
    }
    nav.navbar-main {
	    min-height: auto !important; 
	    height: auto !important; 
	}
    ul.navbar-nav
    {
    	background-color: #3b5287;
    }
    #menu-navigation ul.navbar-nav li a {
    	min-height: auto !important;
    	height: auto !important;
    	font-size: 13px;
	}
	#menu-navigation ul.navbar-nav > li > .dropdown-menu li a {
	    font-size: 12px;
	}
	#carousel-example-generic
	{
		display: none;
	}
}


