
/*********************************
 * 			FONT 				 *
 *********************************/
@font-face {
    font-family: avenirNextRegular;
    src: url('/fonts/AvenirNext-Regular.eot');
  	src: url('/fonts/AvenirNext-Regular?#iefix') format('embedded-opentype'),
       url('/fonts/AvenirNext-Regular.woff2') format('woff2'),
       url('/fonts/AvenirNext-Regular.woff') format('woff'),
       url('/fonts/AvenirNext-Regular.ttf') format('truetype'),
       url('/fonts/AvenirNext-Regular#AvenirNext-Regular') format('svg');
}
@font-face {
    font-family: avenirNextMedium;
    src: url('/fonts/AvenirNext-Medium.eot');
  	src: url('/fonts/AvenirNext-Medium?#iefix') format('embedded-opentype'),
       url('/fonts/AvenirNext-Medium.woff2') format('woff2'),
       url('/fonts/AvenirNext-Medium.woff') format('woff'),
       url('/fonts/AvenirNext-Medium.ttf') format('truetype'),
       url('/fonts/AvenirNext-Medium#AvenirNext-Medium') format('svg');
}
@font-face {
    font-family: avenirNextBold;
    src: url('/fonts/AvenirNext-Bold.eot');
  	src: url('/fonts/AvenirNext-Bold?#iefix') format('embedded-opentype'),
       url('/fonts/AvenirNext-Bold.woff2') format('woff2'),
       url('/fonts/AvenirNext-Bold.woff') format('woff'),
       url('/fonts/AvenirNext-Bold.ttf') format('truetype'),
       url('/fonts/AvenirNext-Bold#AvenirNext-Bold') format('svg');
}
}
.decreaseFont
{
	font-size: 10px;
}
.resetFont
{
	font-size: 13px;
}
.increaseFont
{
	font-size: 15px;
}
ul.share-buttons{
  list-style: none;
  padding: 15px 0 0;
}

ul.share-buttons li{
  display: inline;
	margin-right: 6px;
}

ul.share-buttons li a img 
{
	width: 32px;
	height: 32px;
}

.form-front
{
	margin-bottom: 15px;
}
/*********************************
 * 			COMMON 				 *
 *********************************/
body 
{
	font-size: 15px;
	font-family: 'avenirNextRegular';
	color:#000;
}
body img 
{ 
	width: 100%;
}
h1,h2,h3,h4,h5,h6
{
	padding: 0;
	margin: 0;
}
a:hover, a:active, a:visited, a:focus
{
	text-decoration: none;
}
a:focus
{
	border-color: yellow;
}

.videoImageFrame{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-bottom: 62.5%;
}

.playButtonContainer{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
img.img-rounded
{
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
img.grid-thumb
{
	max-height: 205px;
	height: 100%;
}
img.related-thumb
{
	max-height: 99px;
	height: 100%;
}
img.home-news-thumb
{
	max-height: 150px;
	height: 100%;
}
img.featured-img
{
	max-height: 373px;
	height: 100%;
}
img.goal-img 
{
	max-height: 315px;
}
ul.alert li 
{
	list-style: none;
}
img.related-news-thumb
{
	max-height: 120px;
}
img.list-news
{
	max-height: 150px;
	/*height: 100%;*/
}


/********************************
 *      IMAGES FILTER           *
 ********************************/
 .tint {
 	position: relative;
  }
  
  .tint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,255,255, 0.5);
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
  }
  
  /*.tint:hover:before {
    background: none;
  }*/
  
  .black:before {
    background: rgba(0,0,0, 0.15);
  }
.form-horizontal .control-label {
	margin-bottom: 8px;
}
/*********************************
 * 			BREADCRUMB 			 *
 *********************************/
 div.breadcrumb-nav 
 {
 	margin-top: 35px;
 }
 div.breadcrumb-nav a 
 {
 	font-size: 14px;
 	color: #000;
 	color: #3C5287;
 }
div.breadcrumb-nav a:hover
{
	color: #3276b1;
}
div.breadcrumb-nav a:last-child
{
	color: #3276b1;
	cursor: default;
}
div.breadcrumb-nav a:after 
{
	content: " >";
}
div.breadcrumb-nav a:last-child:after 
{
	content: none;
}
/*********************************
 * 			HEADINGS 			 *
 *********************************/
.heading1, .heading1 a 
{
	font-family: 'avenirNextBold';
	font-size: 24px;
	text-transform: uppercase;
	color:#3C5287;
	padding-top: 15px;
	padding-bottom: 5px;
	letter-spacing: 3px;
}
.heading2, .heading2 a
{
	font-family: 'avenirNextRegular';
	font-size: 15px;
	color:#484848;
}
.heading3, .heading3 a
{
	font-family: 'avenirNextBold';
	font-size: 22px;
	color:#3b5287;
	margin-bottom: 10px;
	margin-top: 20px;
}

.heading4, .heading4 a
{
	font-family: 'avenirNextRegular';
	font-size: 15px;
	color:#000000;
	margin-top: 8px;
}
.heading5, .heading5 a
{
	font-family: 'avenirNextRegular';
	font-size: 14px;
	color:#3C5287;
}
.heading6, .heading6 a
{
	font-family: 'avenirNextMedium';
	font-size: 18px;
	color:#000000;
	line-height: 22px;
	margin-top: 8px;
}
.heading7, .heading7 a
{
	font-family: 'avenirNextRegular';
	font-size: 15px;
	color:#030303;
	margin-top: 10px;
}
.heading9, .heading9 a 
{
	font-family: 'avenirNextBold';
	font-size: 18px;
	color:#3b5287;
	margin-bottom: 5px;
}
.heading10, .heading10 a 
{
	font-family: 'avenirNextMedium';
	font-size: 18px;
	color:#23C4FD;
	margin-bottom: 10px;
}
	.heading11, .heading11 a
{
	font-family: 'avenirNextBold';
	font-size: 15px;
    color: #1D1717;
    margin-top: 20px;
	text-transform: uppercase;
}
.heading12
{
	font-size: 18px;
	font-weight: 500;
}
.title-container
{
	margin-top: 35px;
	margin-bottom: 35px;
	text-align: center;
	background-image: url('/images/Blue-Line.png');
	background-position: top center;
	background-repeat: no-repeat;
}
.title-container-left
{
	margin-top: 35px;
	margin-bottom: 15px;
	text-align: left;
	background-image: url('/images/Blue-Line.png');
	background-position: top left;
	background-repeat: no-repeat;
}
.title-container-left .heading1, .title-container-left .heading1 a {
	font-size: 18px;
}
.bottom_menu_holder {
	margin-top: 35px;
}
.bottom_menu_holder .heading12 {
    margin-bottom: 14px;
}

/*********************************
 * 			HEADER 				 *
 *********************************/
#top-bar 
{
	height: 35px;
	color:#FFF;
	background-color: #393939;
}
#logos 
{
	height: 185px;
}

#logos .header-logo
{
	padding-top: 20px;
	height: 100%;
	width: 100%;
	position: relative;
}


#logos .header-logo.header-logo-left
{
	width: 152px;
	height: 63px;
}
#logos .header-logo-middle
{
	width: 129px !important;
	height: 102px  !important;
	top: 20px;
	left: 50%;
	margin-left: -64px;
	position: absolute;
}

#logos .header-logo-middle-new
{
	width: 158px !important;
	height: 240px  !important;
	bottom: 30px;
	left: 50%;
	margin-left: -64px;
	position: absolute;
}



#logos .header-logo.header-logo-right
{
	width: 168px;
	height: 63px;
	text-align: right;
}
.social-icon
{
	width: 24px;
	height: 21px;
	margin-left: 12px;
}
.social-top
{
	text-align: right;
	padding-top: 140px;
}

/*********************************
 * 			MENU 				 *
 *********************************/

.nav-float
{
	float:left;
}

.top-buffer
{
    margin-top: 7px;
    font-size: 13px;
}

.top-buffer a 
{
	color: #FFF;
}

nav.navbar-top
{
    height: 35px;
    min-height: 35px;
    margin-bottom: 0;
    color:#FFF;
    background-color: #393939;
    border-radius: 0;
}

.navbar-top .dropdown-toggle
{
    color:#FFF;
    padding:0;
}

.navbar-top .btn
{
    font-weight: normal;
    font-size: 12px;
}

nav.navbar-main
{
	background-color: #3b5287;
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	min-height: 55px !important;
	height: 55px !important;
}
.navbar-main a 
{
	color: #fff;
	font-weight: normal;
}
.navbar-main #menu-navigation
{
	padding-left: 0;
	min-height: 55px !important;
	height: 55px !important;
}


#menu-navigation ul.navbar-nav li a
{
	min-height: 55px !important;
	height: 55px !important;
	font-size: 15px;
}
#menu-navigation ul.navbar-nav li a:focus
{
	background-color: #23C4FD;
}
#menu-navigation ul.navbar-nav li ul li a 
{
	min-height: 20px;
}
.navbar-main a:hover
{
	color: #3b5287;
}

.navbar-main li.active a, .navbar-main li a:hover, .navbar-main li.open a.dropdown-toggle 
{
	background-color: #23C4FD;
	color: #FFF;
}

.navbar .icon-bar
{
    background-color: #cccccc;
}

.dropdown-menu li
{
    background-color: #FFFFFF;
}
#menu-navigation ul.navbar-nav > li > .dropdown-menu li a 
{
	min-height: auto !important;
	height: auto !important;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
}

.search-placeholder
{
	margin-right: -15px;
}
.search-placeholder form 
{
	display: inline;
}

.search-placeholder input#search
{
	height: 55px;
	padding: 10px;
    width: 270px;
    background-color: #23c4fd;
    color: #FFF;
    border: none;
}
.search-placeholder .search-icon 
{
	width: 60px;
	height: 55px;
	background-color: #28ade5;
	background-image: url('/images/Search-Icon.png');
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
}
/*********************************
 * 		  HOMEPAGE SLIDER        *
 *********************************/
 #carousel-example-generic
 {
 /*	max-height: 415px;
 	height: auto;*/
 	overflow: hidden;
 }
a.carousel-control
{
	z-index: 10;
}
.caption-overlay
 {
 	width: 100%;
 	height: 50%;
 	/*background-image: url('/images/overlaylayer.png');
 	background-repeat: repeat;*/
 	position: absolute;
 	bottom: 0;
 	left: 0;
 	z-index: 2;
    background-position: bottom left;
    background-size: contain;
 }
 .caption-content
 {
 	width: 50%;
    position: absolute;
    left: 18%;
    bottom: 27%;
 }
 .caption-overlay h1
 {
 	font-family: 'avenirNextBold';
    font-size: 60px;
    text-transform: uppercase;
    color: #FFF;
    line-height: 0.9;
 }
 .caption-overlay h2
 {
 	font-family: 'avenirNextRegular';
    font-size: 24px;
    text-transform: uppercase;
    color: #FFF;
    letter-spacing: 1px;
 }

/*********************************
 * 		  HOMEPAGE BLOCKS        *
 *********************************/
.homepage-block
{
	padding-bottom: 35px;
}

.homepage-block-goals
{
	background-color: #F7F8F8;
}
.homepage-block-goals .goal 
{
	text-align: center;
}
.homepage-block-goals .goal img 
{
	width: 60px;
}
.goal-act-now
{
	text-align: center;
}
.goal-act-now img
{
	width:300px;
	margin-bottom: 10px;
}
.actnow-block
{
	background-color: #FFF;
	border-bottom: 1px solid #23C4FD;
	margin-top: 35px;
	padding-bottom: 35px;
}
.actnow-block .line 
{
	font-size: 20px;
	color: #3C5287;
}
.news-block
{
	background-color: #F7F8F8;
}

/*********************************
 * 		    FAQ LISTING          *
 *********************************/
.panel.faq
{
	box-shadow: none;
	margin-bottom: 25px;
}
.accordion-body
{
	margin-bottom: 10px;
	font-size: 15px;
}


/********************************
 * 		    NEWS LISTING        *
 ********************************/
.news-list-row
{
	margin-bottom: 35px;
}
.news-list-row .heading6, .news-list-row .heading6 a {
	margin-top: 0;
	margin-bottom: 10px;
}

/*********************************
 * 			PAGES        		 *
 *********************************/
.default_content img
{
    width:25%;
    height:auto;
}

.post_body_text
{
    font-size:16px;
}

.moreinfo{

    font-family:'avenirNextBold';
    font-size:20px;
    color:#3b5287;

}

.contact{

    font-family:'avenirNextBold';
    font-size:18px;
    color:#707070;
}
.aboutHint
{
	margin-top: 35px;
	color: #3C5287;
    font-style: italic;
}

/*********************************
 * 			FOOTER 				 *
 *********************************/
#bottom-bar
{
    min-height: 290px;
    height:auto;
    color:#595959;
    background-color: #e5e7e7;
}

#bottom-bar a 
{
	color:#595959;
	font-size: 12px;
	text-transform: capitalize;
}


.navbar-bottom
{
    min-height: 85px;
    height:auto;
    background-color: #3b5287;
    width:100%;
    margin-bottom: 0;
    border: none;
}


#logos-bottom .header-logo
{
    /*height: 100%;*/
    position: relative;
}
#logos-bottom .header-logo img
{
    display: none;
}
#logos-bottom .header-logo.header-logo-middle img
{
    width: 36%;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -18%;
    display: block;
}

#logos-bottom .header-logo.header-logo-right
{
    text-align: right;
}

#copyright-text
{
    padding-top:40px;
    position: relative;
    color:#FFF;
    text-align: right;
    font-size: 12px;
}
#copyright-text span 
{
	margin-left: 10px;
}
.white-link a{
    color:#FFF;
}

.white-link a:hover{
    color:#7c7c7c;
}

#logos-bottom
{
	height: 85px;
}

/*********************************
 * 			NEWS 				 *
 *********************************/
 div.news-filters
 {
 	margin-bottom: 30px;
 }

/*********************************
 * 			ENTITIES 			 *
 *********************************/
 div.entity-row
 {
 	text-align: center;
 	overflow: hidden;
 	margin-bottom: 35px;
 }
 div.entity-row img 
 {
 	width: auto;
 }

p.heading4
{
	margin: 0;
	margin-bottom: 35px;
}
.post-item, .related-item
{
	margin-bottom: 35px;
}
.entities-container.post-item
{
	margin-bottom: 35px;
	text-align: center;
}
.post-item .heading3, .post-item .heading3 a {
	margin-top: 20px;
}
.post-item hr {
	margin-top: 0;
}
.show-item
{
	font-size: 15px;
	padding-bottom: 35px;
}
.top0
{
	margin-top: 0;
}
.top35
{
	margin-top: 35px;
}
.btn-custom
{
    margin-top: 10px;
    border-radius: 0;
    width: 100%;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #23C4FD;
    border: none;
}
.btn-custom:hover,.btn-custom:active
{
	background-color: #3b5287;
}

.news-filters .btn-custom 
{
	width: auto;
	font-size: 12px;
	color:#FFF;
	margin-top: 0;
}
.post_body_text img,
.post_body_text
{
	margin-bottom: 35px;
}

/*************************
 * 	    NEWSLETTER 		 *
 *************************/
.btn-newsletter
{
	border: none;
	background-color: #909cb7;
	padding: 8px;
	color: #FFF;
	width: 67%;
}
.submit-newsletter
{
	border: none;
	background-color: #3c5287;
	padding: 8px;
	color: #FFF;
	margin-left: -5px;
	width: 33%;
}
/*************************
 * 	    Ellipsis 		 *
 *************************/

.homepage-block p.heading7,
.related-item p.heading7{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


/*********************************
 * 	    MOBILE MEDIA QUERY 		 *
 *********************************/
@media screen and (min-width: 320px) and (max-width: 767px){
	.navbar-main #menu-navigation 
	{
    	min-height: auto !important; 
     	height: auto !important;
     	overflow: visible;
     	background-color: #3b5287;
     	padding-left: 10px;
     	font-size: 13px;
     	z-index: 9999999999;
     	position: absolute;
    	width: 100%;
    }
	nav.navbar-main {
	    background-color: #3b5287;
	    border: medium none;
	    border-radius: 0;
	    height: 50px !important;
	    margin-bottom: 0;
	    min-height: 50px !important;
	}
    ul.navbar-nav
    {
    	background-color: #3b5287;
    }
    .navbar-nav>li>.dropdown-menu
    {
    	width:100%;
    }
    #menu-navigation ul.navbar-nav li a {
    	min-height: auto !important;
    	height: auto !important;
    	font-size: 13px;
    	/*line-height: 1.5;*/
	}
	#menu-navigation ul.navbar-nav > li > .dropdown-menu li a {
	    font-size: 12px;
	}
	#carousel-example-generic
	{
		display: none;
	}

	.search-placeholder input#search, 
	.search-placeholder .search-icon
	{
		height: 55px;
	}


		nav.navbar-top {
	height: 58px;
	}
	nav.navbar-top .col-sm-4 {
	padding-left: 0;
	padding-right: 0;
	}
	#logos
	{
	height: 170px;
	text-align: center;
	}
	#logos .header-logo-middle {
	left: 50%;
	margin-left: -59px;
	position: absolute;
	text-align: center;
	top: 20px;
	width: 118px !important;
	}
	.social-top {
	display: none;
	}
	.search-placeholder input#search {
	width: 200px;
	}

	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 10px;
	padding-right: 10px;
	}
	.container-fluid {
	padding-left: 5px;
	padding-right: 5px;
	}
	.heading5, .heading5 a {
	padding-top: 10px;
	}
	.container {
	    padding-left: 10px;
	    padding-right: 10px;
	}
	.top-buffer {
	    width: 50%;
	}
	.top-buffer a {
	    display: inline-block;
	    margin-top: 1px;
	}
	.dropdown {
	    width: 100%;
	}
	.homepage-block-goals .goal {
	    border-bottom: 3px solid #ffffff;
	    margin-bottom: 10px;
	    padding-bottom: 15px;
	}

	.homepage-block-goals .goal:latest-child {
	    border-bottom: 0 none;
	    margin-bottom: 0;
	    padding-bottom: 0;
	}

	.homepage-block-goals .goal .heading11,
	.homepage-block-goals .goal .heading11 a {
	margin-top: 10px;
	}
	.homepage-block {
	    padding-bottom: 0;
	}
	#bottom-bar p {
	    margin: 0 0 7px;
	}
	.social-bottom {
	margin: 30px 0;
	    
	text-align: center;
	    
	width: 100%;
	}
	.social-bottom .social-icon {
	    height: 35px;
	    margin-left: 20px;
	    width: 43px;
	}
	input, button, select, textarea {
	border-radius: 0 !important;
	}
	#copyright-text {
	    
	padding-top: 14px;
	    
	text-align: left;
	font-size: 11px;
	}
	#copyright-text span {
	    
	margin-left: 0;
	float: left;
	padding-top: 5px;
	}
	#copyright-text span:nth-child(2) {
	display:none
	}
	img.img-rounded {
	    display: list-item;
	    float: none;
	    margin: 0 auto;
	    text-align: center;
	    width: 50%;
	}
	.post-item, .related-item {
	    margin-bottom: 20px;
	}
	ul.share-buttons {
	    padding: 15px 0;
	    text-align: center;
	}
	.heading1, .heading1 a {
	font-size: 19px;
	}
	.related-item .heading9, .related-item .heading9 a {
	margin-top: 20px;
	}
	.row {
	    margin-left: -10px;
	    margin-right: -10px;
	}
	img.grid-thumb {
	/*height: 70%;*/
	width: 80% !important;
	max-height: auto;
	}

	nav.navbar-top {
    height: 60px;
}
.top-buffer {
    font-size: 13px;
    margin-top: 4px;
}
.top-buffer a {
    display: inline-block;
    margin-top: 4px;
}
.search-placeholder input#search, .search-placeholder .search-icon {
    height: 50px;
}
.dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
}


.navbar-toggle {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    float: left;
    height: 50px;
    margin: 0;
    padding: 0 15px;
    position: relative;
}
.navbar-nav {
    margin: 0 -10px;
}
.navbar-nav > li > a {
    line-height: 12px;
    padding-bottom: 8px;
    padding-top: 8px;
}

#logos {
padding-bottom: 25px !important;
}
#logos .header-logo.header-logo-left {
    height: 63px;
    width: 132px;
}
#logos .header-logo.header-logo-right {
    height: 63px;
    text-align: right;
    width: 148px;
}

.bottom_menu_holder {
     padding-top: 0;
}
.bottom_menu_holder .heading12 {
    margin-bottom: 5px;
    margin-top: 20px;
}

.newsletter_bottom {
    margin-top: 20px;
    	    width: 100%;
    	right: 0 !important;
}
.btn-newsletter {
    background-color: #909cb7;
    border: medium none;
    color: #fff;
    float: left;
    padding: 8px;
    width: 70%;
}
.submit-newsletter {
    background-color: #3c5287;
    border: medium none;
    color: #fff;
    float: right;
    padding: 8px;
    width: 30%;
}

#copyright-text {
    font-size: 10px;
    padding-top: 12px;
    text-align: left;
}
#copyright-text span.white-link 
{
    padding-top: 10px;
}


.social_media_bottom {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}
.social_media_bottom .social-icon {
    height: 25px;
    margin-left: 12px;
    margin-right: 12px;
    width: 30px;
}
.entities-container.post-item hr {
    display: none;
}
.entities-container.post-item {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.news-filters .btn-custom {
    color: #fff;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 0;
    padding: 7px;
    width: auto;
}
.news-list-row > .col-sm-3 {
     margin-bottom: 20px;
}
ul.share-buttons {
    padding: 15px 0;
}
ul.share-buttons li {
    margin-left: 10px;
    margin-right: 10px;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
margin-left: -10px;
    margin-right: -10px;
}
.search-placeholder {
    margin-right: -10px;
}
#copyright-text .white-link
{
	margin-top: -5px;
	float: right;
}
.nav>li
{
	width:100%;
	height: auto;
}
#menu-navigation ul.navbar-nav li a
{
	height: 36px !important;
	min-height: 36px !important;
}
.newsletter-ar .btn-newsletter
{
	float: right;
}

}




